@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(15, 15, 30);
  --secondary-color: white;
  --tertiary-color: rgb(249, 131, 11);
  --light-color: rgb(107, 114, 128);
  --border-radius: 4px;
  --gradient: linear-gradient(90deg, #52add9 0%, #709df7 51%, #4d78ef 100%);
  --dark-gradient: radial-gradient(
    145.05% 100% at 50% 0,
    #1d2b41 0,
    #020509 57.38%,
    #0f1a29 88.16%
  );
  --font-size: 16px;
  --font-family: Eudoxus Sans, Inter, sans-serif;
  --line-height: 1.6;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;

  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1em;

  input,
  textarea,
  select {
    background: rgba(107, 114, 128, 0.4);
    color: var(--secondary-color);
  }

  @apply prose prose-invert lg:max-w-6xl mx-auto;
}

.navigation {
  a {
    @apply mr-4 no-underline hover:text-blue-500;
  }
}

.button {
  @apply px-4 py-1.5 rounded text-white transition-all duration-300 ease-in-out bg-gray-600 shadow-md hover:shadow-lg focus:outline-none;

  &.primary {
    font-weight: 600;
    background: var(--gradient);
    color: var(--secondary-color);
  }

  &.secondary {
    background: var(--primary-color);
    color: var(--secondary-color);

    &:hover {
      background: var(--light-color);
    }
  }
}

.form {
  display: grid;
  width: 100%;
  min-width: 500px;

  label {
    margin-bottom: 0.5em;
  }

  input {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: var(--border-radius);
    border: 1px solid var(--light-color);
  }

  button {
    width: 100%;
  }

  @media (max-width: 768px) {
    min-width: fit-content;
  }
}

.centerized {
  min-height: calc(100vh - 12rem);
  margin: auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  p {
    text-align: center;
  }
}

input,
textarea,
select {
  @apply p-2 rounded resize-none;
}
